# Python Caches
__pycache__/
*.py[cod]

# Environment / Secrets
.env
.env.*

# Generated Outputs & Teaching Files
mrdavies/
greg/
*.xlsx
*.csv
*.pdf
*.log
*.docx
*.doc

# IDE & OS Files
.vscode/
.DS_Store